<!DOCTYPE html>
<html>
  <head>
    <title>nanoTwitter-Home</title>
  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <h1> <%= session[:username] %>! Welcome To Your Homepage </h1>

     <div class="col-sm-6 col-md-2">
        <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" alt="" class="img-rounded img-responsive" />
      </div>
      <div class="col-sm-6 col-md-8">
       <h2> Username: <%= @user[:username] %> </h2>
       <h4> Nickname: <%= @user[:nickname] %> </h4>
       <p>
         <i class="glyphicon glyphicon-globe"></i>Description: <%= @user[:description] %>
         <br>
         <i class="glyphicon glyphicon-gift"></i>Birthday: <%= @user[:birthday] %>
       </p>
     </div>

     <br><br><br><br><br><br><br><br>

    <%= control_bar session[:username] %>
        <% tweets = $redis.lrange(session[:user_id],0,-1) %>
        <% for i in (0+@n*10)..(9+@n*10) %>
        <% unless tweets[i] %>
          <% break %>
        <% end %>
          <% @tweet = JSON.parse(tweets[i]) %>
          <% @i=i %>
          <%= erb :singleTweet %>
        <% end %>

      <% @link ="/?" %>
      <%= erb :control_pages%>

    </div>
  </body>
</html>
