<button class="btn" type="submit" onclick= <%= @user_tweets %>> Tweets</button>

<button class="btn" type="submit" onclick= <%= @x %>> edit profile</button>

<button id="likes" class="btn" type="submit" onclick= <%= @user_likestweets %>>  likes  </button>

<button id="follower_number" class="btn" type="submit" onclick= <%= @y %>> <%= @follower_number %> followers  </button>

<button id="following_number" class="btn" type="submit" onclick= <%= @z %>> <%= @following_number %> followings  </button><br><br>
