<button class="btn" type="submit" onclick= <%= @user_tweets %>> My Tweets</button>

<button class="btn" type="submit" onclick= <%= @x %>> Edit Profile</button>

<button class="btn" type="submit" onclick= <%= @user_likestweets %>> Likes </button>

<button class="btn" type="submit" onclick= <%= @y %>> <%= @user['follower_number'] %> Followers  </button>

<button class="btn" type="submit" onclick= <%= @z %>> <%= @user['following_number'] %> Followings  </button><br><br>
