<button class="btn" type="submit" onclick= <%= @selftimeline %>> Tweets</button>


<button class="btn" type="submit" onclick= <%= @y %>> <%= @follower_number %> followers  </button>

<button class="btn" type="submit" onclick= <%= @z %>> <%= @following_number %> followings  </button><br><br>

<p> Other control bar </p>
