<button class="btn" type="submit" onclick= <%= @user_tweets %>> Tweets</button>

<button class="btn" type="submit" onclick= <%= @user_likestweets %>>  likes  </button>

<button class="btn" type="submit" onclick= <%= @y %>> <%= @user[:follower_number] %> followers  </button>

<button class="btn" type="submit" onclick= <%= @z %>> <%= @user[:following_number] %> followings  </button><br><br>
