<button class="btn" type="submit" onclick= <%= @user_tweets %>> Tweets</button>


<button class="btn" type="submit" onclick= <%= @y %>> <%= @follower_number-1 %> followers  </button>

<button class="btn" type="submit" onclick= <%= @z %>> <%= @following_number-1 %> followings  </button><br><br>
