<div class="well">
    <p>
        <font size="3" face="verdana">
            <strong>
                <%= @followings[@i][:username] %>
            </strong>
        </font>
        <font size="2" face="verdana" color=grey>@<%= @Nickname %>*<%= @followings[@i][:birthday] %></font>
    </p>
    <p>
        <%= @followings[@i][:description] %>
    </p>
    <p>
        <% x="location='../#{@followings[@i][:username]}/tweets'"%>

          <a class="btn btn-default" href="#" role="button" id="status<%= @i %>"><%= @status%></a>

        <button class="btn" type="submit" onclick=<%= x %>>
            showhome</button>
    </p>
</div>
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@<%= @Nickname %>*<%= @birthday %></h4>
            </div>
            <div class="modal-body">
                <p>
                    <%= @description %>
                </p>
            </div>

        </div>
    </div>
</div> -->
