

<div class="well">

    <p>
        <font size="3" face="verdana">

             <strong>
               <%= @Username %>
             </strong>

        </font>
        <font size="2" face="verdana" color=grey>@<%= @Nickname %>*<%= @birthday %></font>
    </p>

    <p>
        <%= @description %>
    </p>
    <p>
        <% x="location='/#{@Username}/showhome'"%>
        <a class="btn btn-default" href="#" role="button"><%= @status %></a>
        <button class="btn" type="submit" onclick= <%= x %>> showhome</button>

    </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@<%= @Nickname %>*<%= @birthday %></h4>
            </div>
            <div class="modal-body">
                <p>
                    <%= @description %>
                </p>
            </div>

        </div>
    </div>
</div>

<% if session[:user_id] %>
<% cui=session[:user_id] %>
<% else %>
<% cui=-1 %>
<% end %>
<% tId=@follower_id %>
<script type="text/javascript">

  $("#Unfollow").click({
    var current_user_id = <%= cui %> - 0;
    var follower_id = <%= tId %>;
    if (current_user_id !== -1) {
        var putFollow = new XMLHttpRequest();
        putFollow.open("PUT", '/api/v1/users/' + current_user_id + '/unfollow/' + follower_id, true);
        putFollow.send();
        <% @status = "Follow" %>

    } else {
        $("#login-first").show();
    }
  });

    $("#Follow").click( {
        var current_user_id = <%= cui %> - 0;
        var follower_id = <%= tId %>;
        if (current_user_id !== -1) {
            var putFollow = new XMLHttpRequest();
            putFollow.open("PUT", '/api/v1/users/' + current_user_id + '/follow/' + follower_id, true);
            putFollow.send();
            <% @status = "Unfollow" %>

        } else {
            $("#login-first").show();
        }
        });
</script>
