<div class="well" data-toggle="modal" data-target="#myModal">
      <p>
        <font size="3" face="verdana" ><strong><%= @Nickname %></strong></font>
        <font size="2" face="verdana" color=grey>@<%= @tweet_user_name %>*<%= @tweet_time %></font>
      </p>

      <p>
        <%= @tweet_content %>
      </p>
      <p><a class="btn btn-default" href="#" role="button">Reply</a>
      <a class="btn btn-default" href="#" role="button">Retweet</a>
      <a class="btn btn-default" href="#" role="button">Like</a></p>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@<%= @tweet_user_name %>*<%= @tweet_time %></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= @tweet_content %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Reply</button>
        <button type="button" class="btn btn-primary">Retweet</button>
        <button type="button" class="btn btn-primary">Like</button>
      </div>
    </div>
  </div>
</div>
