<div class="well">
    <p>
        <font size="3" face="verdana">
            <strong>
                <%= @followers[@i][:username] %>
            </strong>
        </font>
        <font size="2" face="verdana" color=grey>@<%= @Nickname %>*<%= @followers[@i][:birthday] %></font>
    </p>
    <p>
        <%= @followers[@i][:description] %>
    </p>
    <p>
        <% x="location='../#{@followers[@i][:username]}/tweets'"%>
          <a class="btn btn-default status" href="#" role="button" id="<%= @followers[@i][:id] %>"><%= @status%></a>
        <button class="btn" type="submit" onclick=<%= x %>>
            showhome</button>
    </p>
</div>
