<!DOCTYPE html>
<html>
    <head>
        <title><%= @user_name %>'s Timeline</title>
    </head>

    <body>
        <div class="container theme-showcase" role="main">

            <h1>
                <%= "#{session[:username]}" %>
                Welcome To
                <%= "#{@user_name}" %>'s home</h1>

            <div class="col-sm-6 col-md-2">
                <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" alt="" class="img-rounded img-responsive"/>
            </div>
            <div class="col-sm-6 col-md-8">
                <h2>
                    Username:
                    <%= @user[:username] %>
                </h2>
                <h4>
                    Nickname:
                    <%= @user[:nickname] %>
                </h4>
                <p>
                    <i class="glyphicon glyphicon-globe"></i>Description:
                    <%= @user[:description] %>
                    <br>
                    <i class="glyphicon glyphicon-gift"></i>Birthday:
                    <%= @user[:birthday] %>
                </p>
            </div>

            <br><br><br><br><br><br><br><br>

            <%= control_bar @user_name %>

            <% for i in (0+@n*50)..(49+@n*50) %>
            <% if @all_tweets[i] == nil %>
            <% break %>
            <% end %>
            <% @tweet = JSON.parse @all_tweets[i] %>
            <% @i=i %>
            <%= erb :singleTweet %>
            <% end %>

            <% @link ="/#{@user_name}/tweets?" %>
            <%= erb :control_pages%>

        </div>

    </body>
</html>
