<!DOCTYPE html>
<html>
  <head>
    <title>user followings</title>
    <% if session[:user_id] %>
    <% cui=session[:user_id] %>
    <% else %>
    <% cui=-1 %>
    <% end %>
    <% followerId=@follower_id %>
    <% followingId=@following_id %>

  </head>

  <body>
    <div class="container theme-showcase" role="main">

      <h1>Follwings of <%= @user_name %></h1>

      <%= control_bar %>


        <% for i in 0..@following_number-1  %>
         <% unless @followings[i].nil? %>
          <%   @i = i %>
          <%   @status = "Following" %>
          <%   @users = @followings %>
          <%= erb :singleUser %>
        <% end %>
      <% end %>

        <h2>"Some Users you may interest in!"</h2>

        <% for i in 0..@count_number-1  %>
          <% unless @unfollowings[i].nil? %>
          <%   @i = i %>
          <%   @status = "Not following" %>
          <%   @users = @unfollowings %>
          <%= erb :singleUser %>
        <% end %>
<% end %>
    </div>
  </body>
</html>
<script type="text/javascript">
$(".status").hover(function(){
  if(this.innerHTML==="Following"){
    $(this).html("Unfollow him");
  }else{
    $(this).html("Follow him");
  }
},function(){
  if(this.innerHTML==="Unfollow him"){
    $(this).html("Following");
  }else{
    $(this).html("Not following");
  }
});
  $(".status").click(function(){
    var st=this.innerHTML;
    if(st === "Unfollow him"){
      var putFollow = new XMLHttpRequest();
      putFollow.open("PUT", '/api/v1/users/' + '<%= session[:user_id] %>' + '/unfollow/' + this.id, true);
      putFollow.send();
      $(this).parent().parent().hide();
    }else{
      var putFollow = new XMLHttpRequest();
      putFollow.open("PUT", '/api/v1/users/' + '<%= session[:user_id] %>' + '/follow/' + this.id, true);
      putFollow.send();
      $(this).parent().parent().hide();
    }
  });
</script>
