<!DOCTYPE html>
<html>
  <head>
    <title>user followers</title>
  </head>

  <body>
    <div class="container theme-showcase" role="main">

      <h1>"Follwers of <%= session[:username] %>!"</h1>

      <% x="location='/#{session[:username]}/editProfile'"%>
      <% y="location='/#{session[:username]}/followers'"%>
      <% z="location='/#{session[:username]}/followings'"%>
      <% selftimeline="location='/user/#{session[:username]}'"%>

      <button class="btn" type="submit" onclick= <%= selftimeline %>> My Timeline</button>

      <button class="btn" type="submit" onclick= <%= x %>> edit profile</button>


      <button class="btn" type="submit" onclick= <%= y %>> <%= @follower_number %> followers  </button>

      <button class="btn" type="submit" onclick= <%= z %>> <%= @following_number %> followings  </button><br><br>


        <% for i in 0..@follower_number-1  %>
          <% unless @followers[i].nil? %>
          <% @Username = @followers[i][:username] %>
          <% @Nickname = @followers[i][:nickname] %>
          <% @birthday = @followers[i][:birthday] %>
          <% @description = @followers[i][:description] %>
          <% @follower_id = @followers[i][:id] %>
          <% @iffollow = iffollow(session[:id], @followers[i][:id]) %>
          <% if @iffollow %>
          <%   @status = "Unfollow" %>
          <% else %>
          <%   @status = "Follow" %>
          <% end %>
          <%= erb :singleUser %>
        <% end %>
  <% end %>

    </div>
  </body>
</html>
